body {
  margin: 0px;
  padding: 0px;
  background-color: blanchedalmond;
  color:#5C4033;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

